.page-changelog {
    display: block;
    margin: 2rem;
    padding: 2%;
}
.page-changelog .change {
    margin: 1rem;
    padding: 1%;
}

.page-changelog .h2, .page-changelog .p {
    padding: 3px;
}